In [2]:
import re

data = """张华考上了北京大学
李萍进了中等技术学校
韩梅梅进了百货公司
他们都有光明的前途"""

regex = r"(.*)[考|进].*了(.*)"
mylist = []

for line in data.split("\n"):
    mysearch = re.search(regex, line)
    if mysearch:
        name = mysearch.group(1)
        dest = mysearch.group(2)
        mylist.append((name, dest))

mylist

[('张华', '北京大学'), ('李萍', '中等技术学校'), ('韩梅梅', '百货公司')]

In [4]:
import pandas as pd

df = pd.DataFrame(mylist)
df.columns = ["姓名", "去向"]

df

    姓名      去向
0   张华    北京大学
1   李萍  中等技术学校
2  韩梅梅    百货公司

In [6]:
df.to_excel("dest.xlsx", index=False)